<section id="main-content" class="container main_content homepage">
  <h3>Home Page of Coleman Fitbit Competition</h3>
  <h4>2016 The Year of the Step</h4>

  <p>We will attempt to become more healthy by running a competition for how many steps can be taken throughout this year. Feel free to look around and see what you think.</p>

  <p>In order to participate, we need to be able to access your online data. You can authorize me to access this data through <a href="https://www.fitbit.com/oauth2/authorize?response_type=code&client_id=229Y7Q&scope=activity">this link</a>.</p>

  <p>The data analysis is hosted on <a href="https://github.com/CFBC/dataanalysis">github</a>.</p>
</section>